* {
    box-sizing: border-box;
    vertical-align: top;
}

/* Le box sizing est conseillé pour que les boites s'ajustent à la taille de l'écran. 
Vertical align permet de retirer le petit espace entre les boites qui est impossible à retirer */

/* -------------------GLOBAL-------------------- */

#wrapper {

    padding: 0 20%;
    background-color: #F9D30A;
    font-family: 'Golos Text', sans-serif;
    width : 100%;

}

/* Bannière c'est l'ID concernant l'image en bannière des simpsons. Pinaise c'est simplement le titre Oh pinaise en haut */

#banniere,
h1, #pinaise {

    width: 100%; /* Taille des blocs de la bannière bleue, du Oh pinaise et du titre "Les simpsons" */
    
}



header,
#pinaise,
nav,
aside,
footer,
a {

    color: white; /* Couleur des différents textes à mettre en blanc */

}



nav,
aside {

    background-color: #4E92D4; /* Les différents background à mettre en bleu */

}



/* -------------------HEADER-------------------- */

header,
figure {
    
    margin: 0% auto; /* les blocs header et l'image sans marges verticales et centré */

}

/* S'agit du titre oh pinaise */

#pinaise {   

    background-color: #4E92D4;
    text-align: center; /* Oooh Pinaise centré */
    font-weight: bold;
    font-size: 20px;
    padding: 10px 0; /*Un peu de padding pour ajuster la hauteur du bloc bleu "oh pinaise"*/
    margin: 0;    

}


h1 {

    color: #F9D30A;
    margin : 0;    

}

p{
    color : rgb(102, 99, 99);
    text-align: justify; /*Tout le texte de la page justifié*/
    margin-bottom: 30px;
}

/* -------------------- Menu ---------------------- */



ul {  

    height : 60px;  /*Taille du bloc menu*/
    display : flex;
    justify-content: center; /*Centre horizontalement les elts menu*/
    align-items: center; /*Centre verticalement les elts du menu*/
    list-style-type: none;      
    border-bottom : 1px dashed white;
    border-top : 1px solid white;
    margin : 0px auto; /* Pas de marge verticale pour que le menu bleu soit collé à l'image du header et au main */
    padding : 0;   

}

li{

    margin : 5px 5px;

}

a{

    text-decoration : none; /* Retire les effets du lien notamment l'underline */
    font-family: 'Montserrat', sans-serif;
    font-size : 15px;
    font-weight: bold;

}

/* -------------------- Main section avec les images du film ---------------------- */

main {

    background-color: white;
    display: flex; /*Affichage du contenu en row, */
    align-items: flex-start; /*Affiche correctement l'article Matt Groening vis à vis de son height*/
    justify-content: space-around; 

}

.movie{ /* Il s'agit de la taille voulue de la jaquette du film */       

    margin: auto ;
    width : 200px;
    height : auto;   

}

#imgmovie{ /*Il s'agit de la div dans laquelle est contenue les 3 jaquettes de film à afficher */

    display : flex; /* Pour l'affichage en row */   
    flex-wrap: wrap-reverse; /* Pour un retour à la ligne automatique */
    margin : 0 auto;   

}

.grap { /* Div Pour rogner la jaquette du film correctement */

    border : 1px solid grey;
    margin : 10px 10px; /* Marge en dessous de chaque img */
    width : 200px;
    height : 250px;
    overflow: hidden; /*Permet de grap l'image*/

}


/* -------------------- Article LES SIMPSONS ---------------------- */


article {

    width: 60%; /* Taille du gros article vis à vis du reste */
    margin: 30px auto;

}

/* -------------------- Article sur Matt ---------------------- */

aside {

    text-align: center;
    margin : 75px auto 20px auto;    
    padding: 10px 5px;
    width: 30%; /* Taille du bloc article sur matt */

}

figcaption { /*Texte sur Matt*/

    margin: 5px;
    margin-bottom: 5px;
    text-align: justify;

}



#mattPhoto {

    width: 65%; /* Taille de la photo qui modifie également la taille du bloc */
    border: 1px solid white;
    margin-top: 10px;

}


/* -------------------- Pied de page ---------------------- */

footer {

    text-align: center;
    font-weight: bold;
    background-color: #235281;
    padding: 10px;
    margin: auto;

}

/* ---------- FORMAT TABLETTE ---------------------------------------------------- */

@media only screen and (max-width: 900px) {

    #wrapper {

        padding : 0 5%; /* Reduction des bandes jaunes du site */  

    } 

     /* Main :  Modification du main en flex direction column pour que les éléments soient l'un en dessous de l'autre */

     main {   

        flex-direction : column;
        align-items: center;    

    } 

   

    a{

        padding : 5px;
        font-size: 15px;

    } 

    /* Article sur Matt : Modification de la taille */

     aside {

        padding-top : 0;
        width: 40%;
        margin-top : 0;    

    }

    article {

        width: 90%;    

    } 

}


/* --------------------------- FORMAT TEL PORTABLE -------------------------*/

/* Media querie pour un tel portable. Le but n'est pas de recopier le CSS mais de simplement indiquer les changements. Utiliser l'inspecteur pour check. */

 @media only screen and (max-width: 768px) {

    #wrapper {

        padding : 0 ;   /* Retrait des bandes jaunes */

    } 

    ul {     

    height : 100%;
    flex-direction: column; /*Centre verticalement les elts menu*/   
    padding : 10px, 0;   
                  
    }

    /* a{        

         font-size : 11px;  Faire en EM

    } */

    li{

       text-align: center;
       padding : 0;
       

    }
     

    /* Article sur Matt : Modification de la taille */

     aside {    

        width: 60%;   
                  
    }

    
        
 } 

 